.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;

}
.socials a {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6px;
  border: 2px solid white;
  border-radius: 40px;
  box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.3);
  transition: 400ms ease-in-out !important;
} 
.fill {
    width: 25%;
}

.dexscreener {
background-color: #111116;
}   

.telegram{
background-color: white;
}
.dextools{
background-color: #333;
}
.gecko {
background-color: #111116;
}


.socials a:hover {
transform: scale(0.9) !important;
transition: 400ms ease-in-out !important;
box-shadow: 6px 6px 6px 0px rgba(0,0,0,0.3);
border-radius: 40px;
} 




@media (max-width: 400px) {
.apu {
font-weight: 700;
font-size: 70px;
margin-top: 0;
margin-bottom: 0;
}
}