

.homeImg {
    height: auto;
    width: 100%;
    padding: 15px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1px);
    border: 1px solid transparent;
    border-radius: 20px;
}
.homeImgSpan{
    flex: 1;
}

.wojakSection{
    display: flex;
    flex: 4;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.homeInfo {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.homeButtons {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2;

}
.homeContainer {
     padding-top: 8rem;
}

.App {
    width: 100%;
    height: 100%;
}