.howtobuy {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    padding: 2rem;
    text-align: center;
    border: 2px solid white;
    border-radius: 20px;
}

.howToBuyWrapper {
    padding-right: 12%;
    padding-left: 12%;
}
@media (max-width: 600px) {
    .howtobuy h2{
       font-size: 35px;
       padding: 0;
       margin-top: 0px;
    }
}
